[submodule "tools/gibMacOS"]
	path = tools/gibMacOS
	url = git@github.com:corpnewt/gibMacOS.git
[submodule "tools/SSDTTime"]
	path = tools/SSDTTime
	url = git@github.com:corpnewt/SSDTTime.git
[submodule "tools/ProperTree"]
	path = tools/ProperTree
	url = git@github.com:corpnewt/ProperTree.git
[submodule "tools/GenSMBIOS"]
	path = tools/GenSMBIOS
	url = git@github.com:corpnewt/GenSMBIOS.git
[submodule "tools/USBMap"]
	path = tools/USBMap
	url = git@github.com:corpnewt/USBMap.git
[submodule "tools/OcBinaryData"]
	path = tools/OcBinaryData
	url = git@github.com:acidanthera/OcBinaryData.git
